doctype html
html(lang='en')
  head
    title Google Book library
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    
  body
    center
      .content
        h1 Hello!
        p
          | Welcome to 
          b Google Book Library App ...
          br
          |  A place for a better and more convinient book search!
          br
          |  Enjoy!
        a(href='https://books.google.com/', target='_blank')
          img(src='http://juliacrouch.co.uk/wp-content/uploads/2017/01/iBooks-Blue.png')
