extends layout

block body
  div(ng-controller='AppCtrl')
    //- h2 Hello {{name}}
    ul.menu
      li
        a(href='view1') view1 
      li
        a(href='view2') view2
      li 
        a(href='view3') view3

    //try
    //- nav.navbar.navbar-default( role="navigation" )
    //- .navbar-header
    //-     button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
    //-         span.sr-only Toggle navigation
    //-         span.icon-bar
    //-         span.icon-bar
    //-         span.icon-bar
    //-     a.navbar-brand(href="#") Project name
    //- 
    //- #navbar.collapse.navbar-collapse
    //-     ul.nav.navbar-nav
    //-         li.active: a( href='view1') View1
    //-         li: a( href='view2' ) View2
    //-         li: a( href='view3' ) View3
                  
    //try
    
    div(ng-view)

    div

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
    
  script(src='js/controllers/controllers.js')
  script(src='js/controllers/myCtrl1.js')
  script(src='js/controllers/myCtrl2.js')
  script(src='js/controllers/myCtrl3.js')

  script(src='js/filters.js')
  script(src='js/directives.js')
    
  //app
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
  script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js')
  script(src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.4/angular-material.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js')
    // Your application bootstrap
    
  //Bootstrap
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
