extends layout

block body
  div(ng-controller='AppCtrl')
    h2 Hello {{name}}
    ul.menu
      li
        a(href='view1') view1
      li
        a(href='view2') view2
      li
        a(href='view3') view3

    div(ng-view)

    div

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/myCtrl1.js')
  script(src='js/myCtrl2.js')
  script(src='js/myCtrl3.js')
  script(src='js/services.js')

  script(src='js/controllers/controllers.js')
  script(src='js/controllers/myCtrl2.js')
  script(src='js/controllers/myCtrl3.js')

  script(src='js/filters.js')
  script(src='js/myCtrl1.js')
  script(src='js/directives.js')

  //app
  script(src='/node_modules/angular/angular.js')
  script(src='/node_modules/angular-aria/angular-aria.js')
  script(src='/node_modules/angular-animate/angular-animate.js')
  script(src='/node_modules/angular-material/angular-material.js')
