!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Baloo')
    link(rel='stylesheet', href='/node_modules/angular-material/angular-material.css')


    //app
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.4/angular-material.css')
    link(rel='stylesheet', href='https://material.angularjs.org/1.1.4/docs.css')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:100,200,400,600')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

  body
    block body
