/* app css stylesheet */
.nav{
  height: 40px;
  background-color: black;
  word-spacing: 10px;
}

.menu {
  font-size: 14pt;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu > li {
  float: left;
}

li a:link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:visited {
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4160b5;
    color: white;
    text-decoration: none;
}

li a:active {
    background-color: #4160b5;
    color: white;
    text-decoration: none;
}


.content {
  margin-top: 50px;
}

.content h1{
  color: #4160b5;
  font-family: Helvetica;
  font-weight: bold;
}

.content p{
  font-family: Helvetica;
}

.content img{
  margin-top: 5px;
  width: 300px;
}
